## Customer Configuration

CUSTOMER_ID= # Unieke klant-ID (voor personalisatie of logging)
MCP_BASE_URL=# URL van externe API/backend (MCP server)
API_KEY= # API sleutel voor authenticatie bij externe API


# DeskDrive API
DESKDRIVE_API_URL=

# openrouter API
OPENROUTER_API_URL=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=

# N8N Configuration (optional - defaults work)
N8N_PORT=5678
N8N_HOST=localhost
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678

