services:
  n8n:
    image: n8nio/n8n
    ports:
      - "5678:5678"
    env_file:
      - .env
    volumes:
      - n8n_data:/home/node/.n8n
      - ./workflows:/workflows
      - ./import-workflows.sh:/import-workflows.sh

volumes:
  n8n_data:
