services:
  n8n:
    build: .
    ports:
      - "5678:5678"
    env_file:
      - .env
    volumes:
      - n8n_data:/home/node/.n8n
      - ./workflows:/workflows
      - ./import-workflows.sh:/import-workflows.sh
    command: /bin/bash -c "/import-workflows.sh; n8n"

volumes:
  n8n_data:
